section.new-tweet {
  margin: auto;
  background-color: #eee;
  border: 2px solid lightslategrey;
  border-radius: 5px;
  width: 400px ;
}

#errors {
  margin: auto;
  float: none;
  padding-right: 0px;
  font-size: 75%;
  background-color: yellow;
  border: 2px solid lightslategrey;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}